# Ignore requirements.txt
requirements.txt

# Ignore pictures folder
markdown_images/*
!markdown_images/.keep
!markdown_images/graph_token.png
!markdown_images/jira_token.png
!markdown_images/main.png
!markdown_images/onenote.png
!markdown_images/permissions.png

config_microsoft_graph.yaml

README.md

__pycache__

.venv